#### What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized and stored in a computer system. It provides a way to store, retrieve, and manage data efficiently

SQL (Structured Query Language) and NoSQL (Not Only SQL) are two main types of databases. The main differences between these two types are as follows:

1. Data structure: SQL databases use a structured format, with tables that have fixed schemas, while NoSQL databases can be structured or unstructured and do not use tables.

2. Scalability: NoSQL databases are designed to scale horizontally, which means they can easily accommodate growing amounts of data across multiple servers. SQL databases, on the other hand, are designed to scale vertically, which means they require more powerful hardware to handle larger volumes of data.

3. Querying: SQL databases use a standardized query language (SQL) to retrieve and manipulate data, while NoSQL databases use different query languages depending on the database type and implementation.

4. Consistency: SQL databases provide strong consistency, meaning that data is always up-to-date and accurate. NoSQL databases provide eventual consistency, meaning that data may take some time to propagate throughout the system, and different nodes may have different versions of the same data.

5. Data storage: SQL databases store data in tables, while NoSQL databases use various data storage models such as key-value stores, document databases, graph databases, and others.

#### What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) that is used to define, modify, and delete the database objects such as tables, indexes, and constraints.

1. CREATE: The CREATE statement is used to create a new database object such as a table, view, or index.

CREATE TABLE students (
   id INT PRIMARY KEY,
   name VARCHAR(50),
   age INT
);

2. DROP: The DROP statement is used to delete a database object such as a table, view, or index. 

DROP TABLE students;

3. ALTER : ALTER: The ALTER statement is used to modify the structure of an existing database object such as a table, view, or index.

ALTER TABLE students ADD COLUMN email VARCHAR(50);

4. TRUNCATE: The TRUNCATE statement is used to delete all the data from a table. It is a faster alternative to the DELETE statement when you want to delete all the data from a table.

TRUNCATE TABLE students;

#### What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to manipulate data stored in a database. It allows users to insert, update, and delete data in a database.

1. INSERT: The INSERT statement is used to add new data to a table in a database.

INSERT INTO customers (customer_name, customer_email, customer_phone)
VALUES ('John Doe', 'johndoe@email.com', '555-555-5555');

2. UPDATE: The UPDATE statement is used to modify existing data in a table. 

UPDATE customers
SET customer_phone = '111-111-1111'
WHERE customer_name = 'John Doe';

3. DELETE: The DELETE statement is used to remove existing data from a table. 

DELETE FROM customers
WHERE customer_name = 'John Doe';

#### What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, and it is used to retrieve data from a database. 

The SELECT command is used to retrieve data from one or more tables in a database.

SELECT name, age FROM employees WHERE age > 30;

#### Explain Primary Key and Foreign Key.

Primary keys ensure that each record is unique and that there are no duplicate records in the table. Primary keys can be used as a reference by other tables in the database

A foreign key is a column in a table that refers to the primary key of another table. It establishes a link between two tables and is used to enforce referential integrity. When a foreign key is defined in a table, it ensures that the values in that column match the values in the primary key of another table.

#### Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [1]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="user",
  password="pw",
  database="db_name"
)

# Create a cursor object
mycursor = mydb.cursor()

# Execute a query
mycursor.execute("SELECT * FROM students")

# Fetch the results
result = mycursor.fetchall()

# Display the results
for row in result:
  print(row)

ModuleNotFoundError: No module named 'mysql'

#### Give the order of execution of SQL clauses in an SQL query.

In a standard SQL query, the clauses are executed in the following order:

1. FROM: This clause specifies the tables from which data is to be retrieved.
2. JOIN: This clause combines rows from two or more tables based on a related column between them.
3. WHERE: This clause specifies the conditions that must be met in order for a row to be included in the result set.
4. GROUP BY: This clause groups the results by one or more columns.
5. HAVING: This clause is used to filter the groups produced by the GROUP BY clause.
6. SELECT: This clause specifies the columns to be included in the result set.
7. DISTINCT: This clause removes duplicates from the result set.
8. ORDER BY: This clause specifies the order in which the results should be sorted.
9. LIMIT: This clause limits the number of rows returned by the query.